<article class="preview">
  <header class="header">
    <h3 class="title is-3">
      <a href="{{ include.post.url | relative_url }}">{{ include.post.title | escape }}</a>
    </h3>
    {%- assign topic = include.post.categories.first -%}
    {%- include function-getCategory.html name=topic -%}
    {%- assign words = include.post.content | number_of_words -%} 
    {%- assign mins = words | divided_by:180 -%}
    <p class="subtitle is-7">
      <a href="/{{ include.post.date | date: "%Y" }}" class="has-text-weight-semibold">{{ include.post.date | date: "%b %-d, %Y" }}</a>
      {% if topic %} in <a href="/{{ topic }}" class="has-text-weight-semibold">{{ category.caption }}</a> {% endif %}
      {% if mins > 1 %} &middot; <em>{{ mins }} min read</em>{% endif %}
    </p>    
  </header>
  <div class="content is-size-6 has-text-weight-normal">{{ include.post.excerpt }}</div>
  <a href="{{ include.post.url }}" class="button is-small is-link has-text-weight-semibold">More</a>
</article>
