---
layout: default
---
{% include hero-intro.html %}
<section class="section">
  <div class="container">
    <div class="content">
      <h2>Features</h2>
      <div class="columns is-multiline">
        {% for feature in site.data.features %}
        <div class="column is-one-fifth">
        <div class="has-text-centered">
          <span class="icon is-large has-text-grey-lighter">
            <i class="fas fa-3x fa-{{ feature.icon }}"></i>
          </span>
          <p class="title is-6">
            {% if feature.caption %}
              {{ feature.caption }}
            {% else %}
              {{ feature.package }}
            {% endif %}
          </p>
        </div>
        </div>
        {% endfor %}        
      </div>
      {{ content }}
    </div> <!-- /content -->
  </div> <!-- /container -->
</section>
